.tile-container
{
    display: flex; /* Flexbox 디스플레이 사용 */
    align-items: center; /* 교차축(가로축)에서 아이템들을 중앙에 정렬 */
    padding: 1.25rem; /* 모든 방향의 패딩 설정,  */
    justify-content: space-between; /* 주축(세로축)에서 아이템들을 양 끝에 정렬 */
    background-color: #f56565;
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem; 
    border-radius: 0.75rem; 
    width:360px;
}

.flex-padding
{
    display:flex;
    padding:0.5rem;
}

.rounded-box
{
    width:100px;
    height:100px;
    border-radius: 0.5rem; /* 둥근 모서리*/
}

.margin-left-self-start-space-y{
    margin-left: 2.5rem;
    align-self: flex-start;
}

.margin-left-self-start-space-y > * + * {
    margin-top: 1.25rem; /* 자식 요소들 사이의 세로 간격 */
}

.bold-large-white-text
{
    font-size: 1.25rem; /* 글씨 크기 */
    color: white; /* 텍스트 색상 */
    font-weight: bold; /* 글씨 굵기 */
}

.white-text-bold-800{
    color:white;
    font-weight: 800;
}

.bold-red-button
{
    background-color: #660000; /* 어두운 레드 색상 */
    color: white; /* 텍스트 색상 */
    border: 2px solid; /* 2픽셀 테두리 */
    border-radius: 0.5rem; /* 둥근 모서리, */
    font-weight: bold; /* 글씨 굵기 */
    padding: 1rem; /* 패딩,  */
}