.my-element
{
    min-height: 80vh;
    max-width: 1152px;
    margin-left:auto;
    margin-right:auto;
}

.centered-flex-column
{
    display: flex; /* Flexbox 디스플레이 사용 */
    flex-direction: column; /* 아이템들을 세로로 정렬 */
    align-items: center; /* 컨테이너의 교차축(가로축) 중앙 정렬 */
    padding: 1rem; /* 모든 방향의 패딩 설정 */
}

.vertical-center-flex-end
{
    display: flex; /* Flexbox 디스플레이 사용 */
    flex-direction: column; /* 아이템들을 세로로 정렬 */
    justify-content: center; /* 컨테이너의 주축(세로축) 중앙 정렬 */
    align-items: flex-end; /* 컨테이너의 교차축(가로축) 끝에 정렬 */
    padding: 2rem; /* 모든 방향의 패딩 설정  */
}

.vertical-center-flex-end > * + * {
    margin-top: 1.25rem; /* 자식 요소들 간의 세로 간격 설정  */
}

.bold-large-red-text
{
    font-weight: bold; /* 글씨 굵기 */
    font-size: 1.125rem; /* 글씨 크기 */
    color: #991b1b; 
}

.bold-dark-text
{
    color:#1f2937;
    font-weight: bold;
}

.large-text-margin-bottom
{
    font-size:1.25rem;
    margin-bottom: 0.5rem;
}

.centered-flex-column-min-height{
    min-height: 80vh; /* 최소 높이를 뷰포트 높이의 80%로 설정 */
    display: flex; /* Flexbox 디스플레이 사용 */
    flex-direction: column; /* 아이템들을 세로 방향으로 배열 */
    align-items: center; /* 교차축(가로축)에서 아이템들을 중앙에 정렬 */
    justify-content: center; /* 주축(세로축)에서 아이템들을 중앙에 정렬 */
}

.bold-red-button{
    background-color: #660000; /* 어두운 레드 색상 */
    color: white; /* 텍스트 색상 */
    border: 2px solid; /* 2픽셀 테두리 */
    border-radius: 0.5rem; /* 둥근 모서리, */
    font-weight: bold; /* 글씨 굵기 */
    padding: 1rem; /* 패딩,  */
}

@media screen and (min-width: 768px)
{
    .my-element{
        grid-template-columns: repeat(2, 1fr);
    }
}