.my-loading
{
    min-height: 100vh; /* 전체 화면의 높이 */
    width: 100%; /* 전체 너비 */
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 주축 중앙 정렬 */
    align-items: center; /* 교차축 중앙 정렬 */
}

.my-product-grid {
    min-height: 80vh; /* 뷰포트의 80% 높이 */
    display: grid; /* 그리드 레이아웃 사용 */
    max-width: 1152px; /* 최대 너비 1152px */
    margin-left: auto; /* 가로 중앙 정렬 */
    margin-right: auto; /* 가로 중앙 정렬 */
    padding: 0.75rem; /* 모든 방향 패딩 12px */
}

@media (min-width: 640px) { /* sm 브레이크포인트 */
    .my-product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2열 설정 */
    }
}

@media (min-width: 768px) { /* md 브레이크포인트 */
    .my-product-grid {
        grid-template-columns: repeat(3, 1fr); /* 3열 설정 */
    }
}

@media (min-width: 1024px) { /* lg 브레이크포인트 */
    .my-product-grid {
        grid-template-columns: repeat(4, 1fr); /* 4열 설정 */
    }
}
