.flex-col-container
{
    display: flex; /* Flexbox 레이아웃 활성화 */
    flex-direction: column; /* 아이템들을 세로로 정렬 */
    align-items: center; /* 세로 축 중앙 정렬 */
    border: 2px solid #991b1b; 
    gap: 12px; /* 아이템 간의 간격 */
    padding: 16px; /* 내부 패딩 */
    height: 360px; /* 컨테이너 높이 */
    margin-top: 40px; /* 위쪽 마진 */
    margin-left: 20px; /* 왼쪽 마진 */
    border-radius: 0.75rem; 
}

.full-cover-image
{
    object-fit: cover; /* 이미지가 요소의 높이와 너비를 채우면서 가로 세로 비율을 유지하도록 합니다. */
    height: 100%; /* 부모 요소의 전체 높이를 사용합니다. */
    width: 100%; /* 부모 요소의 전체 너비를 사용합니다. */
}

.height-180px{
    height:180px;
}

.product-title{
    width: 10rem; /* 1rem = 4px 기준으로 40px * 2.5 = 100px */
    overflow: hidden; /* 긴 텍스트를 숨기기 위한 설정 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 때 말줄임표 (...)로 표시 */
    white-space: nowrap; /* 텍스트를 한 줄로 만듦 */
    margin-top: 0.75rem;
    color: #4a5568; 
    font-weight: bold; 
    font-size: 1.125rem;
}

.add-cart-btn
{
    background-color: #660000; 
    color: white; /* text-white: 텍스트 색상을 흰색으로 설정합니다. */
    border: 2px solid black; /* border-2: 2px 두께의 테두리를 설정합니다. */
    border-radius: 0.5rem; /* rounded-lg: 둥근 모서리를 설정합니다. */
    font-weight: bold; 
    padding: 1rem; 
}

.add-cart-btn-wrapper
{
    display: flex; /* Flexbox 레이아웃을 활성화합니다. */
    align-items: center; /* 세로축 중앙 정렬 */
    justify-content: center; /* 가로축 중앙 정렬 */
    width: 100%; /* 너비를 부모의 전체로 설정 */
    margin-top: 1.25rem; 
}