.nav-container{
    display: flex; /* Flexbox 레이아웃을 활성화합니다. */
    align-items: center; /* Flex 아이템들을 세로축(center)으로 정렬합니다. */
    justify-content: space-between; /* 아이템들 사이에 공간을 균등하게 배치합니다. */
    height: 80px; /* 컨테이너의 높이를 20px로 설정합니다 (1rem = 16px, 5rem = 80px로 계산할 수 있습니다). */
    max-width: 1152px; /* 최대 너비를 1152px로 설정합니다  */
    margin-left: auto; /* 좌우 마진을 자동으로 설정하여 컨테이너를 중앙에 배치합니다. */
    margin-right: auto;
}

.margin-left{
    margin-left: 1.25rem;
}

.nav-title{
    color: #7b341e; 
    font-weight: bold; /* font-bold에 해당하는 스타일입니다. */
    font-size: 1.25rem; /* text-xl에 해당하는 기본 폰트 크기입니다. */
    cursor: pointer; /* 커서를 포인터로 설정합니다. */
    letter-spacing: 0.1em; /* tracking-wide에 해당하는 글자 간격입니다. */
}

.nav-ul{
    display: flex; /* Flexbox 레이아웃을 활성화합니다. */
    align-items: center; /* Flex 아이템들을 세로축으로 중앙 정렬합니다. */
    --space-x: 24px; /* Flex 아이템들 사이의 수평 간격을 설정합니다. */
    font-weight: 600; /* font-semibold에 해당하는 스타일입니다. */
    padding:0 10px;
}

.nav-ul > * + * {
    margin-left: var(--space-x); /* 수평 간격을 아이템에 적용합니다. */
}

.nav-li{
    color: #4a5568; 
    cursor:pointer;
}

/* 반응형 폰트 크기 설정 */
@media (min-width: 640px) { /* sm 브레이크포인트 */
    .nav-title {
        font-size: 1.5rem; /* sm:text-2xl에 해당하는 폰트 크기입니다. */
    }
}

@media (min-width: 768px) { /* md 브레이크포인트 */
    .nav-title {
        font-size: 1.875rem; /* md:text-3xl에 해당하는 폰트 크기입니다. */
    }
}
